
 <div id="center-align">
        <div class="wrapper">
                <%if notice%>
                <div><%=notice%></div>
                
            <%end%>
            
            <h1>Login</h1>
            
            <%=form_tag "/login" do%>
            <%=label :email, "Enter Email"%> 
            <%=text_field_tag :email%><br><br>
            <%=label :password, "Enter Password"%>
            <%=password_field_tag :password%>
            <%=submit_tag "Login"%>
            <%end%>
    </div> 
</div> 
   