<div id="center-align">
    <div class="wrapper">
        <h1>Detail for <%= @recipe.name %></h1><br>
        Click to view: <%= link_to "Recipe", "#{@recipe.link}", :target => "_blank" %><br><br>
        <p>Description: <%= @recipe.description %></p>
        <p>Source: <%= @recipe.source %></p>
        <% @recipe.flavor_profiles.each do |fp| %>
        <button class="button"><%= link_to fp.name, flavor_profile_path(fp) %></button><br><br>
        <% end %>
        <% @recipe.tastes.each do |t| %>
        <button class="button"><%= link_to t.name, taste_path(t) %></button><br><br>
        <% end %>

    <%@recipe.reviews.each do |review|%> <br>
    <%=review.content%>
    <%end%>


<%= form_for @favorite do |f| %>
<%=f.hidden_field :user_id, value:session[:user_id]%>
<%=f.hidden_field :recipe_id, value: @recipe.id%>
<%= f.submit "Add Favorite", class: "button" %>
<%end%><br>

<button class="button"><%= link_to "Review this Reciple", new_review_path %></button>

    
    </div>
</div>





 
