<!DOCTYPE html>
<html>
  <head>
    <title>Dindr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c8686bdcb.js" crossorigin="anonymous"></script>
    
  </head>
  
  <body>
   
   <div class="topnav">
      <a id="logo-text" href="/"><i class="fas fa-utensils fa-2x"></i> DINDR: IDK what do you want?</a>
      <a href="/about">About</a>
      <a href="/users/id">My Account</a>
      <a href="/favorites">My Favorites</a>
      <a href="/recipes">Recipes</a>
      <a href="/flavor_profiles">Cuisines</a>
      <a href="/tastes">Tastes</a>
      <a href="/logout">Logout</a>
    </div>

    <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  
    <%= yield %>
   
  </body>
</html>
